{% extends '@RadditApp/forum_base.html.twig' %}
{% form_theme form '@RadditApp/forms/standard_form_theme.html.twig' %}

{% block page_classes %}
  add-moderators-page
{% endblock %}

{% block title %}
  {{ 'add_moderator.title'|trans({'%forum%': forum.name}) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ form(form) }}
{% endblock %}
