{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}
{% from '@RadditApp/front.html.twig' import submission_filter %}

{% block page_classes %}
  all-page
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_all') }}">
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="submission-sort">
    <ul>{{ submission_sort(sort_by) }}</ul>
    <ul>{{ submission_filter(sort_by) }}</ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}
