{% extends '@RadditApp/forum_base.html.twig' %}

{% from '@RadditApp/macros/submissions.html.twig' import submission, submission_sort %}

{% block title %}{{ forum.title }}{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_forum', {forum_name: forum.name}) }}">
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: submissions} %}

  {% if forum.description %}
    <meta name="description" content="{{ forum.description|markdown|striptags }}">
  {% endif %}
{% endblock %}

{% block page_classes %}forum-front{% endblock %}

{% block body %}
  <h1>/{{ forum.name }}</h1>

  <nav class="submission-sort">
    <ul>
      {{- submission_sort(sort_by) -}}
    </ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission, {show_forum_name: false}) }}
  {% endfor %}

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}
