{% extends '@RadditApp/forum_base.html.twig' %}

{% block page_classes %}
  forum-moderators-page
{% endblock %}

{% block title %}
  {{ 'forum_moderators.title'|trans({'%forum_name%': forum.name}) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'forum_moderators.username'|trans }}</th>
        <th>{{ 'forum_moderators.since'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for moderator in moderators %}
      <tr>
        <td><a href="{{ path('raddit_app_user', {username: moderator.user.username}) }}">{{ moderator.user.username }}</a></td>
        <td>
          <time datetime="{{ moderator.timestamp|date('c') }}" title="{{ moderator.timestamp|localizeddate('long', 'short') }}" class="relative-time">
            {{ moderator.timestamp|localizeddate('long', 'short') }}
          </time>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

