@import (reference) 'mixins';
@import (reference) 'settings';

//
// Standard, vertical, non-weird forms
//

.form {
  button,
  input,
  select,
  textarea {
    display: inline-block;
  }

  .text-inputs({
    background-color: @form-text-input-background-color;
    border: solid 1px @form-text-input-border-color;
    border-radius: 2px;
    line-height: 1.35;
    color: @form-text-input-color;
    padding: 0.5rem;

    &:focus {
      border: solid 1px @form-text-input-focus-border-color;
      outline: none;
    }

    &[disabled] {
      background-color: @form-text-input-disabled-background-color;
      color: @form-text-input-disabled-color;
    }
  });

  .row {
    max-width: 40rem;
    margin-bottom: 1rem;

    .text-inputs({
      // Make text type inputs fill the entire row
      width: 100%;
    });
  }

  label {
    display: inline-block;
    margin-right: 1ex;
  }

  .markdown-row {
    margin-bottom: 0;

    .markdown-help {
      font-size: smaller;
      text-align: right;
      margin-bottom: 0;
    }

    .markdown-preview {
      background: @markdown-preview-background-color;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      padding: 1rem 1rem 0;
    }
  }
}

.form-errors {
  margin: 0;
  padding: 0;

  li {
    color: @form-error-color;
    font-weight: bold;
    list-style-position: inside;
    margin: 0;
  }
}
